@model CLOB.ViewModels.ObservationInformationVM 

@using CLOB.HtmlCustomHelpers


@{
    ViewBag.Title = "ObservationDetail";
}
<script>
    $(document).ready(function () {
        $("span[id^='p']").click(function () {
            var resultTextID = "#" + this.id.toString().replace("p", "");
            var resultTextValue = parseInt($(resultTextID).val()) + 1;
           
            $(resultTextID).val(resultTextValue.toString());
        });

       

        $("span[id^='m']").click(function () {
            var resultTextID = "#" + this.id.toString().replace("m", "");
            var resultTextValue = parseInt($(resultTextID).val()) - 1;

            $(resultTextID).val(resultTextValue.toString());
        });
    });
   
</script>
@*<style>
    .form-control
    {
        min-width:auto;
        width:20%;
    }
    input[type="text"] 
    {
        width: 30px;
    }
</style>*@
@RenderPage("~/Views/Shared/_Menu1.cshtml", "Observation Detail")
<div class="container-fluid">
<h2>Observation Detail</h2>


@using (Html.BeginForm())
{
    
@Html.Hidden("ObservationInformationID",Model.ObservationInformationID)
<br />

<br />
<div class="dropdown">
<b>Class Activity Code</b>
<br />

@Html.DropDownListFor(m=>m.ClassActivityCode,Model.ClassActivityCodeList)

<br /><br />
<b>Class Organization Code</b>
<br />
@Html.DropDownListFor(m=>m.ClassOrganizationCode,Model.ClassOrganizationCodeList)
<br /><br />
<b>Student Disengagement Code</b>
<br />
@Html.DropDownListFor(m=>m.StudentDisengagementCode,Model.StudentDisengagementCodeList)<br /><br />
</div>
   

<div>
  <b>GAUGE OR EXPAND</b>
  <div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">solict</div>
        <div class="col-xs-2"><span id="pSolicitCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mSolicitCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.SolicitCount,new { @readonly = true, @size = "4" })</div>
    </div>
    <div class="row">
        <div class="col-xs-6">facts</div> 
        <div class="col-xs-2"><span id="pFactsCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mFactsCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.FactsCount,new { @readonly = true, @size = "4" })</div>
    </div>
    <div class="row">
        <div class="col-xs-6">procedural</div>
        <div class="col-xs-2"><span id="pProceduralCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mProceduralCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.ProceduralCount,new { @readonly = true, @size = "4" })</div>
    </div>
    <div class="row">
        <div class="col-xs-6">explain</div>
        <div class="col-xs-2"><span id="pExplainCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mExplainCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.ExplainCount,new { @readonly = true, @size = "4" } )</div>
    </div>
    <div class="row">
        <div class="col-xs-6">apply</div>
        <div class="col-xs-2"><span id="pApplyCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mApplyCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.ApplyCount,new { @readonly = true, @size = "4" })</div>
    </div>
     <div class="row">
        <div class="col-xs-6">meta</div>
        <div class="col-xs-2"><span id="pMetaCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mMetaCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.MetaCount ,new { @readonly = true, @size = "4" })</div>
    </div>

</div>
  
  <b>FEEDBACK </b>
<div class="container-fluid">
     <div class="row">
        <div class="col-xs-6">acknowledge</div>
        <div class="col-xs-2"><span id="pAcknowledgeCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mAcknowledgeCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.AcknowledgeCount,new { @readonly = true, @size = "4" })</div>
    </div>
     <div class="row">
        <div class="col-xs-6">rephrase</div>
        <div class="col-xs-2"><span id="pRephraseCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mRephraseCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.RephraseCount,new { @readonly = true, @size = "4" })</div>
    </div>
     <div class="row">
        <div class="col-xs-6">correct</div>
        <div class="col-xs-2"><span id="pCorrectCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mCorrectCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.CorrectCount,new { @readonly = true, @size = "4" })</div>
    </div>
     <div class="row">
        <div class="col-xs-6">praise</div>
        <div class="col-xs-2"><span id="pPraiseCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mPraiseCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.PraiseCount,new { @readonly = true, @size = "4" } )</div>
    </div>

</div>
    
 <b>SIGNPOSTS</b> 
    <div class="container-fluid">
     <div class="row">
        <div class="col-xs-6">new and old</div>
        <div class="col-xs-2"><span id="pNewAndOldCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mNewAndOldCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.NewAndOldCount,new { @readonly = true, @size = "4" })</div>
    </div>
     <div class="row">
        <div class="col-xs-6">itinerary</div>
        <div class="col-xs-2"><span id="pItineraryCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mItineraryCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.ItineraryCount,new { @readonly = true, @size = "4" } )</div>
    </div>
     <div class="row">
        <div class="col-xs-6">directions</div>
        <div class="col-xs-2"><span id="pDirectionsCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mDirectionsCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.DirectionsCount,new { @readonly = true, @size = "4" } )</div>
    </div>
     <div class="row">
        <div class="col-xs-6">foreshadow</div>
        <div class="col-xs-2"><span id="pForeshadowCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mForeshadowCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.ForeshadowCount,new { @readonly = true, @size = "4" } )</div>
    </div>
     <div class="row">
        <div class="col-xs-6">situate</div>
        <div class="col-xs-2"><span id="pSituateCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mSituateCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.SituateCount,new { @readonly = true, @size = "4" } )</div>
    </div>

</div>    
 
 <b>PROMPT THINKING AND REDUCE COMPLEXITY</b>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">give info</div>
        <div class="col-xs-2"><span id="pGiveInfoCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mGiveInfoCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.GiveInfoCount,new { @readonly = true, @size = "4" })</div>
    </div>
     <div class="row">
        <div class="col-xs-6">suggest</div>
        <div class="col-xs-2"><span id="pSuggestCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mSuggestCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.SuggestCount,new { @readonly = true, @size = "4" })</div>
    </div>
     <div class="row">
        <div class="col-xs-6">think aloud</div>
        <div class="col-xs-2"><span id="pThinkAloudCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mThinkAloudCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.ThinkAloudCount,new { @readonly = true, @size = "4" })</div>
    </div>
     
     <div class="row">
        <div class="col-xs-6">summarize</div>
        <div class="col-xs-2"><span id="pSummarizeCount" class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-2"><span id="mSummarizeCount" class="glyphicon glyphicon-minus"></span></div>
        <div class="col-xs-2">@Html.TextBoxFor(m=>m.SummarizeCount,new { @readonly = true, @size = "4" })</div>
    </div>


</div>
 <div class="form-group">
        <label for="Notes">Additional Notes</label>
        @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
    </div>

<input id="Submit1" class="btn btn-primary" type="submit" value="Save" />

     <br /><br />
</div>
}

    </div>
